doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Conference, crypto, cryptography, decertralized, systems, berlin, germany, software, p2p, peer to peer")
    meta(name="author", content="")

    title Data Tera Nullius

    link(rel="stylesheet", href="https://cloud.typography.com/6937472/728706/css/fonts.css")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/index.css")

  body

    block content

