*
  box-sizing border-box

body
  font normal 18px var(--body)
  margin 0
  padding 100px 30px 30px 30px
  background-color var(--background)
  @media $mobile
    padding 0

a
  color black
  text-decoration none
  background-color transparent
  &:hover
    color white
    font-style italic
    background-color black

h1
  font normal 28px var(--subheader)
  text-align center
  text-transform uppercase
  text-shadow 0px 0px 1px #000, 1px 3px 0px var(--background), 3px 7px 0px rgba(0,0,0,0.08)
  letter-spacing 6px
  @media $desktop
    font normal 32px var(--subheader)

h2
  font 22px var(--subheader)
  text-transform uppercase
  letter-spacing 1px

h3
  font normal 28px/40px var(--geo)
  text-transform uppercase
  text-align center
  letter-spacing 5px
  @media $mobile
    font normal 17px/32px var(--geo)

hr
  width 70px
  margin 30px auto
  border 0
  border-top 2px solid black
  @media $desktop
    margin 40px 0

.twitter
  font 14px var(--body)
  text-transform uppercase
  letter-spacing 5px
  position fixed
  top 120px
  left 0
  transform rotate(-90deg)
  @media $mobile
    CenterX()
    top 50px

  a
    color black
    &:hover
      color white
      background-color black

.top
  position fixed
  right 50px
  bottom 50px
  transition transform 0.2s ease
  z-index 100
  &:hover
    transform translateY(-5px)
  @media $mobile
    display none

  a
    background-color transparent !important

.button
  color black
  width 200px
  font 600 15px var(--geo)
  text-transform uppercase
  text-align center
  text-decoration none
  letter-spacing 2px
  padding 15px
  margin 40px auto 0 auto
  display block
  border 3px solid black
  &:hover
    color var(--background)
    background-color black
    border 3px solid black

.divider
  Size(2px, 150px)
  margin 80px auto
  background-color black
  @media $mobile
    height 100px
    margin 50px auto

.spin
  margin-left 75%
  margin-top -100px
  transition transform 0.5s ease
  &:hover
    transform rotate(180deg)
  @media $mobile
    display none

.venue,
.map-preview
  width 602px
  text-align center
  border 1px solid black
  @media $tablet
    margin 0 auto
  @media $mobile
    width 350px
    margin 40px auto 0 auto

.profile
  flex-basis 30%
  margin 20px 0
  position relative
  @media $tablet
    flex-basis 50%
  @media $mobile
    flex-basis 100%

  &:hover .b2
    display none

  > div
    display inline-block
    vertical-align middle

    &:first-of-type
      Size(100px, 100px)
      position relative
      border 4px solid black

      div
        Absolute(0)
        &.b2 img
          width 100%

  .info
    CenterY()
    left 120px

    span
      &:first-of-type
        font 600 18px/20px var(--geo)
        padding-bottom 5px
        display block

    .projects
      font italic 16px var(--body)
      display block

section
  max-width 1000px
  margin 0 auto
  position relative

  &.intro
    max-width 1200px
    padding-bottom 20px

    .menu
      text-transform uppercase
      letter-spacing 2px
      font 12px/26px var(--body)
      position absolute
      top 50px
      right 50px
      @media $mobile
        display none

      ul
        width 175px
        list-style none
        margin 0
        padding 4px

    .title
      font normal 60px/60px var(--header)
      text-transform uppercase
      letter-spacing 4px
      padding 50px 0
      margin-left 150px
      text-shadow 4px 3px 0px var(--background), 9px 8px 0px rgba(0, 0, 0, 0.08)
      @media $mobile
        margin-left 50px
        margin-top 60px
        padding 50px 0 20px 0
      @media $desktop
        margin-left 100px
        font normal 80px/80px var(--header)

      img
        width 45px
        @media $desktop
          width 60px

      span
        &:nth-of-type(2)
          display block
          margin-left 40px

    .date
      text-align center
      font-style italic
      &:hover
        img
          transform rotate(45deg)

      @media $mobile
        margin 30px 0

      @media $tablet
        margin-bottom 50px
        position relative
        left 0
        bottom 0

      @media $desktop
        position absolute
        left 180px
        bottom 200px

      img
        transition transform 0.2s ease

      span
        display block
        padding-bottom 5px

    .venue
      @media $desktop
        margin-left 45%

      @media $tablet
        width 602px
        margin 0 auto

      span
        font 14px var(--geo)
        text-transform uppercase
        letter-spacing 2px
        padding 10px
        display block
        border-top 1px solid black

  &.map
    margin-top 100px

    .venue-description
      max-width 520px
      text-align center
      margin 0 auto

      @media $desktop
        width 310px
        text-align left
        margin 0
        CenterY()
        right 0

      @media $mobile
        padding 0 40px

      p:last-of-type
        font 15px/23px var(--body)

      h1
        font-size 22px
        text-align center
        margin 70px 0 40px 0

        @media $desktop
          text-align left
          margin 0

    .map-preview
      img
        width 95%
        margin 2.5% 0
        -webkit-filter invert(0.8) grayscale(.9)
        filter invert(0.8) grayscale(.9)

      > div
        font 14px var(--geo)
        letter-spacing 2px
        text-align left
        padding 10px 15px
        border-top 1px solid black

        a
          font-family var(--subheader)
          text-transform uppercase
          display block
          float right

  &.subheader
    padding-top 50px
    @media $desktop
      padding 100px 0 100px 0

    @media $tablet
      h3
        font normal 24px/36px var(--geo)

    p
      width 100%
      max-width 480px
      padding 0 50px
      text-align center
      margin 30px auto
      @media $desktop
        padding 0

  &.speakers
    padding-top 50px
    @media $desktop
      padding-top 100px

    .grid
      margin-top 100px
      margin-left 50px
      display flex
      flex-wrap wrap
      justify-content space-between
      @media $mobile
        margin-top 50px
        margin-left 30px
      @media $tablet
        max-width 700px
        padding-left 50px
        margin 60px auto

  &.coordinators
    padding-top 50px
    @media $tablet
      padding-left 65px
    @media $desktop
      padding-top 150px

    .grid
      padding 10px 30px 0 30px
      display flex
      justify-content space-between
      @media $mobile
        display block
      @media $tablet
        max-width 700px
        margin-left 100px
      @media $desktop
        width 750px
        padding-left 90px
        margin 100px auto 0 auto

    .profile
      flex-basis 50%
      margin 30px 0
      position relative
      @media $desktop
        margin 20px 0

  &.details
    padding 30px
    position relative
    @media $desktop
      padding 150px 0 0 0

    a
      width 250px
      text-align center
      margin 60px auto 0 auto
      display block

    img
      margin 100px auto 0 auto
      display block
      transition transform 1s ease
      &:hover
        transform scale(1.1) rotate(20deg)
      @media $desktop
        margin 0
        position absolute
        top 100%
        left -10%

    h1
      flex-basis 100%

    h3
      width 250px
      font bold 15px var(--geo)
      padding 0 20px
      CenterX()
      top -26px
      background-color var(--background)

    div
      max-width 600px
      padding 10px 20px
      margin 60px auto 0 auto
      position relative
      border 1px solid black
      @media $desktop
        margin 100px auto 0 auto

  &.schedule
    padding 30px
    @media $desktop
      padding 150px 0 0 0

    h1
      margin-bottom 50px

    text-align center

    label
      font 16px var(--subheader)
      text-align center
      text-transform uppercase
      letter-spacing 1px
      padding-bottom 4px
      margin 0 15px
      display inline-block

    .schedule-table
      max-width 700px
      margin 0 auto

      label, input
        user-select none

      .schedule-day
        display none
        text-align left
        margin-top 50px

      input
        display none
        &:checked + label
          border-bottom 2px solid black

      input#day1
        &:checked ~ .schedule-day.one
          display block

      input#day2
        &:checked ~ .schedule-day.two
          display block

      h4
        font bold 15px var(--geo)
        text-transform uppercase
        letter-spacing 3px
        margin-top 15px

      h5
        font bold 19px var(--geo)
        margin 0
        text-decoration underline

      .duration
        font-style italic
        display block
        margin-top 25px
        opacity 0.5

      .spacer
        border-top 1px solid black
        display flex

      .time
        flex-basis 20%
        text-align right
        padding-right 55px
        margin 10px 0
        @media $mobile
          padding-right 25px

      .event
        flex-basis 80%
        padding-left 50px
        padding-bottom 30px
        position relative
        border-left 1px solid black


      .row
        display flex
        &:last-of-type
          border-bottom 1px solid black

        p
          margin 10px 0

        .event
          &.highlight:before
            Size(14px, 14px)
            border 3px solid black
            background-color var(--background)
            left -10px
          &:before
            content ""
            Size(11px, 11px)
            display block
            position absolute
            top 15px
            left -6px
            background-color black
            border-radius 50%

  &.sponsors
    padding-top 100px

    @media $desktop
      padding 150px 0 0 0

    > div
      text-align center
      margin 50px auto 0 auto
      @media $desktop
        margin 100px auto 0 auto

      > div
        margin-top 50px
        @media $mobile
          margin 10px

    img
      height 90px
      display inline-block
      margin 15px
      @media $desktop
        height 100px
        margin 0 15px

    a, a:hover
      background-color transparent

  &.conduct
    padding-top 20px
    @media $desktop
      padding 100px 0 0 0

    div
      padding 30px
      max-width 700px
      margin 0 auto
      @media $desktop
        margin 50px auto 0 auto
        padding 0

      img
        display block

      h2
        margin 20px 20px 10px 20px

      p
        margin 0 20px

footer
  text-align center
  margin 50px 0 80px 0
  @media $desktop
    margin 150px 0 80px 0
