@font-face
  font-family 'Shrikhand'
  src url('/fonts/Shrikhand-Regular.ttf') format('ttf')

body
  --body 'Averia Serif Libre', serif
  --header 'Shrikhand', serif
  --subheader 'Montserrat', sans-serif
  --geo 'Chakra Petch', sans-serif

body
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -moz-font-smoothing antialiased
  font-smoothing antialiased
  -webkit-font-feature-settings "kern"
  -moz-font-feature-settings "kern"
  font-feature-settings "kern"
  font-variant-ligatures common-ligatures
  font-kerning normal
  font-weight normal
