body
  --background rgba(254, 253, 247, 1)
  --primary rgba(54, 57, 61, 1)
  --secondary rgba(240, 240, 238, 1)
  --accent rgba(240, 102, 83, 1)
  --medium rgba(104, 106, 109, 1)
  --border rgba(232, 232, 228, 1)
  --danger rgba(240, 102, 83, 1) // Alert: Caution
  --success rgba(133, 178, 116, 1) // Alert: Success
  --warning rgba(249, 169, 103, 1) // Alert: Warning

  // Tonic requires
  --error rgba(240, 102, 83, 1)
  --notification rgba(240, 102, 83, 1)
  --info #999da0

$mobile = '(max-width: 700px)'
$tablet = '(min-width: 701px) and (max-width: 1070px)'
$desktop = '(min-width: 1070px)'
