body
  background: #53677e
  color: white
  font-family: $font-Surveyor
  border-bottom: 1em solid $dark-gray

.content

  .bird
    text-align: center

      img
        vertical-align: middle
        height: 30px
        width: 30px

  section.centered
    text-align: center

  h2
    font-size: 2.5em
    margin: 40px 0

  .avatar
    border: 4px solid $dark-gray
    height: 150px
    width: 150px
    margin-bottom: 0
    border-radius: 99em

  .venue
    width: 80%

  p
    font-size: 18px

ul
  list-style-type: none

  &.unstyled
    list-style-type: none
    padding: 0

  &.numbered
    list-style-type: none
    counter-reset: count-list-items

    li
      position: relative
      counter-increment: count-list-items

      &:not(:last-child)
        padding-bottom: 1.5rem

.content
  margin: 80px auto

  a
    background-color: white

  a.sponsor
    background-color: transparent
    img
      width: 80%

    &.hh
      img
        width: 50%

  section
    padding: 5.5rem 0
    position: relative

    @media $mobile-devices
      padding: 3.5rem 0

    &:not(:last-child):before
      content: ''
      position: absolute
      top: 100%
      left: 50%
      height: 1px
      width: 30%
      margin-left: -(@width/2)
      background: $space-gray-lighter

    h3 + p
      margin-top: .3125rem

.row
  overflow: visible
  clear: both

.single-column

  h3:first-of-type
    margin-top: 0

  @media $desktop
    float: left
    width: 65%

  @media $mobile-devices
    float: none
    width: 100%

// each speaker / organizer block is a figure
.figure
  margin-bottom: 3em


/* Responsive */

@media $mobile-devices
  .content
    width: 90%

  .column.half, .column.third
    float: none
    width: 100%

  .row
    margin-left: 10px
    margin-right: 10px

@media $desktop

  .place
    padding-right: 8px

    &:after
      content:"\2014"

  .content
    width: 90%

  .column.half, .column.third
    float: left
    width: 50%

    &.third
      width: 33.3%

  .column.half

    &:first-of-type
      padding-right: 3rem

    &:last-of-type
      padding-left: 3rem

  .row
    margin-left: auto
    margin-right: auto

@media $desktop-wide
  .content
    width: 60%

