/*------------------------------------------------------------------------------
*
*  Header
*
------------------------------------------------------------------------------*/

header
  text-align: center
  background: white
  color: $dark-gray
  
  img.logo
    width: 75%
  
  h1, h2
    color: black
    display: inline-block
    font-family: $font-Surveyor
    font-weight: 700; font-style: normal
    padding: 10px
    font-size: 5rem
    padding: 10px
    margin-top: 10px
    margin-bottom: 10px

  h1
    font-weight: 800

  h2
    margin: 0 0 0px
    font-size: 1.5em
    line-height: 1em;
    font-weight: $font-weight-regular
    font-size: $font-size-mega

  .details
    margin: 50px 0

    span
      margin: 20px
      text-transform: uppercase

    .red
      color: $red

  p
    font-family: 'Surveyor SSm A', 'Surveyor SSm B'
    font-weight: 400; font-style: normal
    color: white
    font-size: 1.25em
    line-height: 2em
    font-style: italic
    width: 100%
    padding: 50px 20%
    background: #000
    margin: 35px auto

  .button
    padding: 10px
    padding-top: 13px
    margin: 40px
    width: 150px

  div.language
    position: absolute
    top: 10px
    left: 10px 
    img
      margin: 4px
      float: left

  nav
    margin-top: 30px
    text-align: center
    li
      display: inline
      list-style: none
    a
      color: white
      text-transform: uppercase
      margin: 0 20px
      
      .selected
        text-decoration: underline

/* Responsive */

@media $smartphone
  header
    padding-top: 8rem

    h2
      font-size: $font-size-h3
      margin: 2.5rem 1em 1rem 1em

    p
      min-width: 100%
      padding: 50px 20px
      font-size: $font-size-h4
      margin-top: 50px

