/*------------------------------------------------------------------------------
*
*  Buttons
*
------------------------------------------------------------------------------*/

button
  border: none

.button
  font-family: $font-Carrois
  display: inline-block
  font-size: $font-size-base
  text-align: center
  color: white
  cursor: pointer
  background: $red
  text-transform: uppercase
  -webkit-appearance: none
  transition: all .3s ease-in
  -webkit-transition: all .3s ease-in

  &:hover
    background: darken($red, 20%)

