extends partials/layout

block content

  header(role="banner")
    h1 data terra nemo
    br
    h2 
      span.place Berlin, Germany 
      span.date May&nbsp;23&nbsp;&&nbsp;24,&nbsp;2015
    br

    a.button(href="https://ti.to/dtn/dtn2015") register

    p 
      b Terra nemo 
      | is a Latin expression meaning "No man's land". In this context we describe systems and protocols without centralized ownership and how they impact the landscape of the internet.

  .content(role="main")
    .bird
      img(src="/assets/img/bird.png")
      a(href="//twitter.com/dtnconf")
        | follow on twitter

    section.cf.centered
      h2 Speakers

      .row
        .figure
          img.avatar(src="/assets/img/speakers/0.png")
          h3 
            a(href="//www.youtube.com/watch?v=YwJ8AE4Ve58") David Göthberg

      .row
        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/1.png")
            h3 TBA

        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/2.png")
            h3
              a(href="//holgerkrekel.net") Holger Krekel

        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/3.png")
            h3 
              a(href="//dominictarr.com") Dominic Tarr

      .row
        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/4.png")
            h3 
              a(href="//www.cmapx.polytechnique.fr/~jsteiner/") Dr. Jutta Steiner

        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/5.png")
            h3 
              a(href="//twitter.com/mafintosh") Mathias Buus

        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/6.png")
            h3 
              a(href="//twitter.com/ioptio") Paige Peterson

      .row
        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/7.png")
            h3 
              a(href="//feross.org") Feross Aboukhadijeh

        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/8.png")
            h3 
              a(href="//github.com/ssbc") Paul Frazee

        .column.third
          .figure
            img.avatar(src="/assets/img/speakers/9.png")
            h3 
              a(href="//www.ethereum.org/") Alex Leverington 
 
    section.cf.centered
      h2 Location
      img.venue(src="/assets/img/venue.png")

      iframe(width="80%", height="400px" frameBorder="0" src="https://a.tiles.mapbox.com/v4/hij1nx.ll27m1j6/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiaGlqMW54IiwiYSI6IjI2VGxRbmcifQ.CmhB61Bv3QH53nEi55ff5g")
      br
      p Il Kino Berlin Theatre
      a(href="http://www.ilkino.de/") Nansenstrasse 22, Berlin, Germany

    section.cf.centered
      h2 Coordinators

      .column.third
        .figure
          img.avatar(src="/assets/img/coordinators/1.png")
          h3
            a(href="//twitter.com/hij1nx") Paolo Fragomeni

      .column.third
        .figure
          img.avatar(src="/assets/img/coordinators/2.png")
          h3 
            a(href="//github.com/ralphtheninja") Lars-Magnus Skog

      .column.third
        .figure
          img.avatar(src="/assets/img/coordinators/3.png")
          h3 
            a(href="//twitter.com/j32804") Ksenya Serova

    section.cf
      .column.half
        h2 What to Expect
        p Expect subversive and unconventional ideas that will challenge your thinking. Ideas less focused on implementations. A small event designed to promote constructive discussions between everyone involved. Expect a group of people who share an interest in securing the freedom of information and how we build systems around it.

      .column.half
        h2 What’s Included
        p This is a not-for-profit event. All sponsorship pays for the conference itself. Aside from discussions and talks, attendees can expect delicious food and incredible coffee from 
          a(href="http://barn.bigcartel.com/the-roastery") The Barn Roastery
          | . All talks and interviews will be recorded and published online after the event.

    section.cf.centered
      h2 Schedule
      p TBA

    section.cf.centered
      h2 Sponsors
      p
        .figure
          a.sponsor(href="//nowsecure.com")
            img(src="/assets/img/sponsors/0.png")
        .figure
          a.sponsor.hh(href="//threatstack.com")
            img(src="/assets/img/sponsors/1.png")
 
        br
      p TBA

    section.cf
      h2 Code of Conduct
      p This conference was created with the intention of uniting people and sharing ideas. We want to promote a strong sense of empathy and provide a friendly environment in which everyone feels comfortable expressing their ideas. If you are an attendee we ask you to treat everyone with the utmost respect. More specifically, our code of conduct is 
        a(href="http://confcodeofconduct.com/") here.

